################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureBootcamp.Functions/.vs
/AzureBootcamp.Functions/AzureBootcamp.Functions/Properties/PublishProfiles/AzureBootcampFunctionApp - Web Deploy.pubxml
